\#*\#
\.#*
*~
# Ignore all elpa contents (but not the dir itself, in case...
/elpa/*
# ... there are manually pinned packages)
!/elpa/which-key-20200702.219/
quelpa
.mc-list.el
bookmarks
recentf*
smex-items*
.lsp-session-v1
.tutor
init.el
# Find a way to combine different versions of this file on each OS
projectile-bookmarks.eld
eshell/
var/prescient-save.el
# Emacs creates this weird file
2
straight/
# No idea what created these files
init.sh
init.emacs_lisp
# Treemacs cache
.cache/
